# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs & DB dumps
*.log
*.sql
*.sqlite3

# -------------------------------
# FastAPI / Uvicorn
# -------------------------------
*.reload

# -------------------------------
# PyCharm / JetBrains
# -------------------------------
.idea/
*.iml
out/
